<%= render "shared/header" %>
<div class='main'>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>
      <%= search_form_for @q, url: tag_search_items_path, html: {id: "detailed-search-form"} do |f| %>
        <div class="search-field">
          <%= f.label :product, '商品名' %>
          <br>
          <%= f.text_field :product, placeholder: '商品名', value: params[:q]&.dig(:product) %>
        </div>
        <div class="search-field">
          <%= f.label :user_name_cont, '出品者名' %>
          <br>
          <%= f.text_field :user_name_cont, placeholder: '出品者名' %>
        </div>
        <div class="search-field">
          <%= f.label :category_id_in, 'カテゴリ' %>
          <br>
          <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name, {include_blank: "---"}) %>
        </div>
        <div class="search-field">
          <%= f.label :price_gteq, '価格'%>
          <br>
          <%= f.number_field :price_gteq %> 円以上
          <br>
          <%= f.number_field :price_lteq %> 円以下
        </div>
        <%= f.submit '検索' %>
      <% end %>

      <% @items.each do |item| %>
      <li class='list'>        
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>        
          <%= image_tag item.image, class: "item-img" %>

          <% if item.purchase %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %> 

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.product %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_charge[:name] %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </li>

      <% if @items.empty? %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>

      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>